body {
  background: #6190E8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-position: center;
  height: 100vh;
  max-height: 100%;
}

.well {
  background: transparent;
  border: none;
}


.music {
  text-align: center;
  padding-top: 10vh;
  color: black;
}
