

<header class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="">HOME</a>
        <a class="navbar-brand navbar-left" routerLink="parties">PARTIES</a>
        <a class="navbar-brand navbar-left" routerLink="start-party">CREATE</a>
        <a class="navbar-brand navbar-left" routerLink="search2">DATABASE</a>
      </div>
    </div>
</header>

<router-outlet></router-outlet>

<!-- <footer class="footer">
  <div class="container">
    <a class="text-muted" routerLink="admin">Manager</a>
  </div>
</footer> -->
