<br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="text-center">

  <h3>Create a new party you aninal</h3>
  <div>
    <label>Party name:</label>
    <br>
    <input #newParty>
  </div>

  <div>
    <label>location:</label>
    <br>
    <input #newLocation>
  </div>

  <div>
    <label>put the date here animal:</label>
    <br>
    <input #newDate>
  </div>
  <div>
    <label>Desired Danceability</label>
    <br>
    <input #newDanceability>
  </div>
  <br>
  <button class="btn btn-success" (click)="submitForm(newParty.value, newLocation.value, newDate.value, newDanceability.value); newParty.value=''; newLocation.value=''; newDate.value=''; newDanceability.value=''">I N I T &nbsp; P A R T Y</button>
</div>
