<body>
  <div class="music">
    <div class="container">
      <div class="panel panel-body">
        <div class="text-center">
          <h3>Create a new party</h3><br>
          <div class="block">
            <i class="fa fa-wrench" aria-hidden="true"></i>
            <label>Party name:</label>
            <input #newParty>
          </div><br>
          <div class="block">
            <i class="fa fa-wrench" aria-hidden="true"></i>
            <label>Party location:</label>
            <input #newLocation>
          </div><br>
          <div class="block">
            <i class="fa fa-wrench" aria-hidden="true"></i>
            <label>Date for the party:</label>
            <input #newDate>
          </div><br>
          <div class="block">
            <i class="fa fa-wrench" aria-hidden="true"></i>
            <label>Desired Danceability</label>
            <input #newDanceability>
          </div><br>
          <br>
          <button class="btn btn-success" (click)="submitForm(newParty.value, newLocation.value, newDate.value, newDanceability.value); newParty.value=''; newLocation.value=''; newDate.value=''; newDanceability.value=''">I N I T &nbsp; P A R T Y</button>
        </div>
      </div>
    </div>
  </div>
</body>
